---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <img src="https://user-images.githubusercontent.com/61040284/99664776-0d406e80-2aac-11eb-8333-78437b34c6e2.jpg" width="250px" height="350px">
  <p>이름 : 장병준 </p><br>
  <p>학력 : 동서울대학교 컴퓨터소프트웨어학과 4학년 (21.02 졸업 예정)</p><br>
  <p>현재 거주지 : 경기도 하남시</p><br>
  <p>번호 : 010-6756-7112</p><br>
  <p>이메일 : <qudwns4351@naver.com></p><br>
  <p>깃헙주소 : <https://github.com/qudwns4351></p><br>
  <p>SKILL SET</p><br>
  <p>Programming Language</p><br>
  <p>- java8, jsp</p><br>
  <p>Framewokr/Library</p><br>
  <p>- spring, Bootstrap, jQuery</p><br>
  <p>DB/server</p><br>
  <p>- mysql, Apache, Tomcat</p><br>
  <p>IDE & Tools</p><br>
  <p>- Eclipse, STS4</p>
